<footer>
    <div class="f-info-brand">&copy; HavenStay Private Limited</div>
    <div class="f-info-links">Made with &nbsp; <i class="fa-solid fa-heart" style="color: #fe424d"></i> &nbsp; By Thrisha J Shetty</div>
  </div>
</footer>
