<%- layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
  <h1 class="col-6 offset-3">SignUp On Wandurlust</h1>
  <div class="col-6 offset-3 mt-3">
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" required id="username" name="username" />
        <div class="valid-feedback">Username looks good!</div>
        <div class="invalid-feedback">username should be valid</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
        <div class="valid-feedback">Email looks good!</div>
        <div class="invalid-feedback">Email should be valid</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required />
        <div class="valid-feedback">Password looks good!</div>
        <div class="invalid-feedback">Password Should be valid</div>
      </div>
      <button type="submit" class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
